{% extends 'base.html.twig' %}

{% block title %}My Quiz - New Quiz{% endblock %}

{% block body %}
{% if categorie.getQuestions %}
    <div class="max-w-4xl mx-auto bg-white bg-opacity-30 rounded-xl shadow-2xl py-6 px-6">
        <div class="flex flex-col space-y-6">
            <div>
                <h3 class="text-center text-2xl text-gray-100 font-semibold">
                    Create new quiz!
                </h3>

                <h3 class="text-center text-2xl text-gray-100 font-semibold">
                    "{{ categorie.name }}"
                </h3>
            </div>

            <form action="" method="POST">
                <div class="px-4 py-5 bg-white rounded-t-md sm:p-6">
                    <div class="grid sm:grid-cols-6 gap-6">
                        <h2 class="col-span-6">
                            Questions:
                        </h2>

                        {% for question in 1..nbQuestions %}

                            <div class="col-span-6 sm:col-span-5">
                                <label for="question" class="block text-sm font-medium leading-5 text-gray-700">Question</label>
                                <input id="question" name="question-{{ question }}" type="text" class="mt-1 form-input block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5" required>
                            </div>

                            <div class="sm:col-span-1"></div>

                            {% set value = 1 %}
                            {% for reponse in 1..3 %}
                                <div class="col-span-6 sm:col-span-2">
                                    <label for="reponse" class="block text-sm font-medium leading-5 text-gray-700">
                                        Answer {{ value }}
                                        {% if value == 1 %}
                                            <span class="text-green-600">
                                                (Answer Expected)
                                            </span>
                                        {% endif%}
                                    </label>
                                    <input id="reponse" name="question-{{ question }}-reponse-{{ reponse }}" type="text" class="mt-1 form-input block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5" required>
                                </div>

                                {% set value = value + 1 %}
                            {% endfor %}
                            <div class="sm:col-span-6"></div>
                        {% endfor %}
                    </div>
                </div>
                <div class="px-4 py-3 bg-gray-50 rounded-b-md text-right sm:px-6 flex justify-end items-center">
                    <button type="submit" class="py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 shadow-sm hover:bg-indigo-500 focus:outline-none focus:shadow-outline-blue active:bg-indigo-600 transition duration-150 ease-in-out">
                        Create
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endif %}

{% endblock %}
